{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
    <div class="row-fluid">
        <h1>Nuevo trabajo</h1>

        {{ form(form) }}

            <ul class="record_actions">
        <li>
            <a href="{{ path('workoutcrud') }}">
                Volver
            </a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
